/* Google Font Import - Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.logo-brand {
    font-size: 30px !important;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 900 !important;
    color: #477B72 !important;
    position: relative;
}

.home-navbar {
    /* background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%); */
}

.home-navbar-dark {
    color: #FFFFFF !important;
}

.header-profile {
    height: 30px;
    width: 30px;
}

#move {

    float: right;
    margin-top: -10px;


}

.wrapper {

    float: left;
    height: 50%;
    margin-left: 20px;
}



.v-application .headline, .v-application .title {
    line-height: 2rem;
    font-family: Roboto, sans-serif !important
}

.v-application .caption {
    font-weight: 400;
    font-family: Roboto, sans-serif !important
}

.v-application .text-h5 {
    line-height: 2rem;
    font-family: Roboto, sans-serif !important
}

.theme--light.v-btn.v-btn--disabled, .theme--light.v-btn.v-btn--disabled .v-icon {
    color: rgba(0, 0, 0, .26) !important
}

.theme--light.v-btn--active:before, .theme--light.v-btn--active:hover:before, .theme--light.v-btn:focus:before {
    opacity: .12
}

.theme--dark.v-btn.v-btn--disabled, .theme--dark.v-btn.v-btn--disabled .v-icon {
    color: hsla(0, 0%, 100%, .3) !important
}

.theme--dark.v-btn--active:before, .theme--dark.v-btn--active:hover:before, .theme--dark.v-btn:focus:before {
    opacity: .24
}

.v-btn.v-size--default, .v-btn.v-size--large {
    font-size: .875rem
}

.v-application--is-ltr .v-btn__content .v-icon--right, .v-application--is-rtl .v-btn__content .v-icon--left {
    margin-left: 8px;
    margin-right: -4px
}

.v-btn--fab.v-size--default .v-icon, .v-btn--fab.v-size--small .v-icon, .v-btn--icon.v-size--default .v-icon, .v-btn--icon.v-size--small .v-icon {
    height: 24px;
    font-size: 24px;
    width: 24px
}

.v-ripple__animation, .v-ripple__container {
    color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none
}

.v-icon--is-component, .v-icon--svg {
    height: 24px;
    width: 24px
}

.v-autocomplete__content.v-menu__content, .v-autocomplete__content.v-menu__content .v-card {
    border-radius: 0
}

.theme--light.v-text-field.v-input--is-disabled .v-input__slot:before {
    -o-border-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, .38) 0, rgba(0, 0, 0, .38) 2px, transparent 0, transparent 4px) 1 repeat;
    border-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, .38) 0, rgba(0, 0, 0, .38) 2px, transparent 0, transparent 4px) 1 repeat
}

.theme--dark.v-text-field.v-input--is-disabled .v-input__slot:before {
    -o-border-image: repeating-linear-gradient(90deg, hsla(0, 0%, 100%, .5) 0, hsla(0, 0%, 100%, .5) 2px, transparent 0, transparent 4px) 1 repeat;
    border-image: repeating-linear-gradient(90deg, hsla(0, 0%, 100%, .5) 0, hsla(0, 0%, 100%, .5) 2px, transparent 0, transparent 4px) 1 repeat
}

.v-text-field.v-input--has-state .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-counter, .v-text-field.v-input--is-disabled .v-input__control>.v-text-field__details>.v-messages, .v-text-field .v-input__control, .v-text-field fieldset {
    color: inherit
}

.v-application--is-ltr .v-text-field--outlined.v-text-field--reverse fieldset, .v-application--is-rtl .v-text-field--outlined fieldset {
    padding-right: 8px
}

.v-application--is-ltr .v-text-field--outlined.v-text-field--reverse legend, .v-application--is-rtl .v-text-field--outlined legend {
    text-align: right
}

.theme--dark.v-select .v-select__selection--comma, .theme--light.v-select.v-text-field--solo-inverted.v-input--is-focused .v-select__selection--comma {
    color: #fff
}

.theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea {
    color: rgba(0, 0, 0, .87)
}

.theme--light.v-input--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    color: rgba(0, 0, 0, .38)
}

.theme--dark.v-input, .theme--dark.v-input input, .theme--dark.v-input textarea {
    color: #fff
}

.theme--dark.v-input--is-disabled, .theme--dark.v-input--is-disabled input, .theme--dark.v-input--is-disabled textarea {
    color: hsla(0, 0%, 100%, .5)
}

.theme--light.v-list-item--active:before, .theme--light.v-list-item--active:hover:before, .theme--light.v-list-item:focus:before {
    opacity: .12
}

.theme--light.v-list-item--active:focus:before, .theme--light.v-list-item.v-list-item--highlighted:before {
    opacity: .16
}

.theme--dark.v-list-item--active:before, .theme--dark.v-list-item--active:hover:before, .theme--dark.v-list-item:focus:before {
    opacity: .24
}

.theme--dark.v-list-item--active:focus:before, .theme--dark.v-list-item.v-list-item--highlighted:before {
    opacity: .32
}

.v-list-item__avatar, .v-list-item__avatar.v-list-item__avatar--horizontal {
    margin-bottom: 8px;
    margin-top: 8px
}

.v-application--is-ltr .v-list-item__avatar:first-child, .v-application--is-rtl .v-list-item__action:last-of-type:not(:only-child), .v-application--is-rtl .v-list-item__avatar:last-of-type:not(:only-child), .v-application--is-rtl .v-list-item__icon:last-of-type:not(:only-child) {
    margin-right: 16px
}

.v-list .v-list-item--active, .v-list .v-list-item--active .v-icon {
    color: inherit
}

.v-list-group--active>.v-list-group__header>.v-list-group__header__append-icon .v-icon {
    transform: rotate(-180deg)
}

.theme--light.v-chip--active:before, .theme--light.v-chip--active:hover:before, .theme--light.v-chip:focus:before {
    opacity: .12
}

.theme--dark.v-chip--active:before, .theme--dark.v-chip--active:hover:before, .theme--dark.v-chip:focus:before {
    opacity: .24
}

.v-application--is-ltr .v-chip .v-avatar--right, .v-application--is-ltr .v-chip .v-icon--right, .v-application--is-rtl .v-chip .v-avatar--left, .v-application--is-rtl .v-chip .v-icon--left {
    margin-left: 6px;
    margin-right: -6px
}

.v-application--is-ltr .v-chip--pill .v-avatar--right, .v-application--is-rtl .v-chip--pill .v-avatar--left {
    margin-right: -12px
}

.v-badge, .v-badge__badge {
    display: inline-block;
    line-height: 1
}

.v-dialog>.v-card>.v-card__subtitle, .v-dialog>.v-card>.v-card__text {
    padding: 0 24px 20px
}

.v-breadcrumbs--large li, .v-breadcrumbs--large li .v-icon {
    font-size: 16px
}

.v-calendar .v-event, .v-calendar .v-event-more {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
    z-index: 1
}

.v-calendar-weekly__head, .v-calendar-weekly__head-weekday {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.v-calendar-daily_head-day-label, .v-calendar-daily_head-weekday {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center
}

.v-card>.v-card__progress+:not(.v-btn):not(.v-chip), .v-card>:first-child:not(.v-btn):not(.v-chip) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}

.v-card--link, .v-card--link .v-chip {
    cursor: pointer
}

.v-color-picker--flat, .v-color-picker--flat .v-color-picker__track:not(.v-input--is-disabled) .v-slider__thumb {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.v-application--is-ltr .v-color-picker__hue:not(.v-input--is-disabled) {
    background: linear-gradient(90deg, red 0, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, red)
}

.v-application--is-rtl .v-color-picker__hue:not(.v-input--is-disabled) {
    background: linear-gradient(270deg, red 0, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, red)
}

.v-slider__thumb-container, .v-slider__track-background, .v-slider__track-fill {
    position: absolute;
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-slider__thumb, .v-slider__thumb:before {
    position: absolute;
    border-radius: 50%;
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.v-slider__tick, .v-slider__ticks-container {
    position: absolute
}

.v-slider__thumb-label, .v-slider__thumb-label-container {
    position: absolute;
    left: 0;
    transition: .3s cubic-bezier(.25, .8, .25, 1)
}

.v-application--is-ltr .v-slider--horizontal .v-slider__tick:first-child .v-slider__tick-label, .v-application--is-rtl .v-slider--horizontal .v-slider__tick:first-child .v-slider__tick-label {
    transform: translateX(0)
}

.v-application--is-ltr .v-input__slider--inverse-label .v-input__slot .v-label, .v-application--is-rtl .v-input__slider .v-input__slot .v-label {
    margin-right: 0;
    margin-left: 12px
}

.v-application--is-ltr .v-data-footer__icons-after .v-btn:first-child, .v-application--is-rtl .v-data-footer__icons-before .v-btn:last-child {
    margin-left: 7px
}

.theme--light.v-data-table .v-data-table-header th.sortable.active, .theme--light.v-data-table .v-data-table-header th.sortable.active .v-data-table-header__icon, .theme--light.v-data-table .v-data-table-header th.sortable:hover {
    color: rgba(0, 0, 0, .87)
}

.theme--dark.v-data-table .v-data-table-header th.sortable.active, .theme--dark.v-data-table .v-data-table-header th.sortable.active .v-data-table-header__icon, .theme--dark.v-data-table .v-data-table-header th.sortable:hover {
    color: #fff
}

.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:last-child, .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row), .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:last-child, .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:not(.v-data-table__mobile-row), .theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th {
    border-bottom: thin solid rgba(0, 0, 0, .12)
}

.theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:last-child, .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row), .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:last-child, .theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:not(.v-data-table__mobile-row), .theme--dark.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th {
    border-bottom: thin solid hsla(0, 0%, 100%, .12)
}

.v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>th, .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>th, .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>th {
    height: 32px
}

.v-data-table--fixed-header>.v-data-table__wrapper, .v-data-table--fixed-height .v-data-table__wrapper {
    overflow-y: auto
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:before, .theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:hover:before, .theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:focus:before, .theme--light.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover--active:before, .theme--light.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover--active:hover:before, .theme--light.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover:focus:before {
    opacity: .12
}

.theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:before, .theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active:hover:before, .theme--dark.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header:focus:before, .theme--dark.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover--active:before, .theme--dark.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover--active:hover:before, .theme--dark.v-expansion-panels.v-expansion-panels--hover>.v-expansion-panel>.v-expansion-panel-header:hover:focus:before {
    opacity: .24
}

.v-expansion-panels--tile, .v-expansion-panels--tile>.v-expansion-panel:before {
    border-radius: 0
}

.theme--light.v-file-input.v-input--is-disabled .v-file-input__text, .theme--light.v-file-input.v-input--is-disabled .v-file-input__text .v-file-input__text--placeholder {
    color: rgba(0, 0, 0, .38)
}

.theme--dark.v-file-input.v-input--is-disabled .v-file-input__text, .theme--dark.v-file-input.v-input--is-disabled .v-file-input__text .v-file-input__text--placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.grow, .spacer {
    flex-grow: 1 !important
}

.v-skeleton-loader--tile, .v-skeleton-loader--tile .v-skeleton-loader__bone {
    border-radius: 0
}

.theme--light.v-stepper .v-stepper__step__step, .theme--light.v-stepper .v-stepper__step__step .v-icon {
    color: #fff
}

.theme--light.v-stepper--non-linear .v-stepper__step:not(.v-stepper__step--complete):not(.v-stepper__step--error) .v-stepper__label, .theme--light.v-stepper .v-stepper__label small {
    color: rgba(0, 0, 0, .6)
}

.theme--dark.v-stepper .v-stepper__step__step, .theme--dark.v-stepper .v-stepper__step__step .v-icon {
    color: #fff
}

.theme--dark.v-stepper--non-linear .v-stepper__step:not(.v-stepper__step--complete):not(.v-stepper__step--error) .v-stepper__label, .theme--dark.v-stepper .v-stepper__label small {
    color: hsla(0, 0%, 100%, .7)
}

.v-stepper, .v-stepper__header {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.theme--light.v-tabs .v-tab--active:before, .theme--light.v-tabs .v-tab--active:hover:before, .theme--light.v-tabs .v-tab:focus:before {
    opacity: .12
}

.theme--dark.v-tabs .v-tab--active:before, .theme--dark.v-tabs .v-tab--active:hover:before, .theme--dark.v-tabs .v-tab:focus:before {
    opacity: .24
}

.v-tabs:not(.v-tabs--vertical).v-tabs--right>.v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-slide-group--has-affixes) .v-slide-group__next, .v-tabs:not(.v-tabs--vertical):not(.v-tabs--right)>.v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-slide-group--has-affixes) .v-slide-group__prev {
    display: initial;
    visibility: hidden
}

.v-application--is-ltr .v-tabs--centered>.v-tabs-bar .v-tabs-bar__content>:first-child:not(.v-tabs-slider-wrapper), .v-application--is-ltr .v-tabs--centered>.v-tabs-bar .v-tabs-slider-wrapper+*, .v-application--is-ltr .v-tabs--fixed-tabs>.v-tabs-bar .v-tabs-bar__content>:first-child:not(.v-tabs-slider-wrapper), .v-application--is-ltr .v-tabs--fixed-tabs>.v-tabs-bar .v-tabs-slider-wrapper+*, .v-application--is-rtl .v-tabs--centered>.v-tabs-bar .v-tabs-bar__content>:last-child, .v-application--is-rtl .v-tabs--fixed-tabs>.v-tabs-bar .v-tabs-bar__content>:last-child {
    margin-left: auto
}

.v-application--is-ltr .v-timeline--reverse:not(.v-timeline--dense):before, .v-application--is-rtl .v-timeline:not(.v-timeline--dense):not(.v-timeline--reverse):before {
    left: auto;
    right: calc(50% - 1px)
}

.v-application--is-ltr .v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before {
    right: auto;
    left: 47px
}

.theme--dark.v-time-picker-clock .v-time-picker-clock__item--disabled, .theme--dark.v-time-picker-clock .v-time-picker-clock__item--disabled.v-time-picker-clock__item--active {
    color: hsla(0, 0%, 100%, .3)
}

.v-time-picker-clock__hand:after, .v-time-picker-clock__hand:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

.theme--light.v-treeview--hoverable .v-treeview-node__root:focus:before, .theme--light.v-treeview .v-treeview-node--click>.v-treeview-node__root:focus:before {
    opacity: .12
}

.theme--dark.v-treeview--hoverable .v-treeview-node__root:focus:before, .theme--dark.v-treeview .v-treeview-node--click>.v-treeview-node__root:focus:before {
    opacity: .24
}


*/html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}



:after, :before {
    text-decoration: inherit;
    vertical-align: inherit
}

hr {
    overflow: visible;
    height: 0
}

details, main {
    display: block
}

summary {
    display: list-item
}

small {
    font-size: 80%
}

[hidden] {
    display: none
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline-width: 0
}

code, kbd, pre, samp {
    font-family: monospace, monospace
}

pre {
    font-size: 1em
}

b, strong {
    font-weight: bolder
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

input {
    border-radius: 0
}

[disabled] {
    cursor: default
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    resize: vertical
}

button, input, optgroup, select, textarea {
    font: inherit
}

optgroup {
    font-weight: 700
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

[role=button], [type=button], [type=reset], [type=submit], button {
    cursor: pointer;
    color: inherit
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

button, input, select, textarea {
    background-color: transparent;
    border-style: none
}

select {
    -moz-appearance: none;
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

select::-ms-value {
    color: currentColor
}

legend {
    border: 0;
    color: inherit;
    display: table;
    white-space: normal;
    max-width: 100%
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    color: inherit;
    font: inherit
}

img {
    border-style: none
}

progress {
    vertical-align: baseline
}

svg:not([fill]) {
    fill: currentColor
}

@media screen {
    [hidden~=screen] {
        display: inherit
    }

    [hidden~=screen]:not(:active):not(:focus):not(:target) {
        position: absolute !important;
        clip: rect(0 0 0 0) !important
    }
}

[aria-busy=true] {
    cursor: progress
}

[aria-disabled=true] {
    cursor: default
}

.v-application .elevation-0 {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) !important
}

.v-application .blockquote {
    padding: 16px 0 16px 24px;
    font-size: 18px;
    font-weight: 300
}

.v-application code, .v-application kbd {
    border-radius: 3px;
    font-size: 85%;
    font-weight: 900
}

.v-application code {
    background-color: #fbe5e1;
    color: #c0341d;
    padding: 0 .4rem
}

.v-application kbd {
    background: #212529;
    color: #fff;
    padding: .2rem .4rem
}

html {
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html.overflow-y-hidden {
    overflow-y: hidden !important
}

.v-application {
    font-family: Roboto, sans-serif;
    line-height: 1.5
}

.v-application ::-ms-clear, .v-application ::-ms-reveal {
    display: none
}

.v-application .theme--light.heading {
    color: rgba(0, 0, 0, .87)
}

.v-application .theme--dark.heading {
    color: #fff
}

.v-application ol, .v-application ul {
    padding-left: 24px
}


.v-application .headline {
    font-size: 1.5rem !important;
    font-weight: 400;
    letter-spacing: normal !important
}

.v-application .headline, .v-application .title {
    line-height: 2rem;
    font-family: Roboto, sans-serif !important
}

.v-application .title {
    font-size: 1.25rem !important;
    font-weight: 500;
    letter-spacing: .0125em !important
}

.v-application .caption {
    font-weight: 400;
    font-family: Roboto, sans-serif !important
}

.v-application .caption {
    font-size: .75rem !important;
    letter-spacing: .0333333333em !important;
    line-height: 1.25rem
}

.v-application p {
    margin-bottom: 16px
}

@media only screen and (max-width:959px) {
    .v-application .hidden-sm-and-down {
        display: none !important
    }
}

@media only screen and (max-width:1263px) {
    .v-application .hidden-md-and-down {
        display: none !important
    }
}

@media only screen and (min-width:960px) {
    .v-application .hidden-md-and-up {
        display: none !important
    }
}

@media only screen and (min-width:1264px) {
    .v-application .hidden-lg-and-up {
        display: none !important
    }
}

.v-application .overflow-y-hidden {
    overflow-y: hidden !important
}

.v-application .d-inline-block {
    display: inline-block !important
}

.v-application .justify-center {
    justify-content: center !important
}

.v-application .align-start {
    align-items: flex-start !important
}

.v-application .ma-0 {
    margin: 0 !important
}

.v-application .ma-2 {
    margin: 8px !important
}

.v-application .mx-2 {
    margin-right: 8px !important;
    margin-left: 8px !important
}

.v-application .mx-5 {
    margin-right: 20px !important;
    margin-left: 20px !important
}

.v-application .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.v-application .my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important
}

.v-application .my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}

.v-application .mt-2 {
    margin-top: 8px !important
}

.v-application .mt-4 {
    margin-top: 16px !important
}

.v-application .mr-0 {
    margin-right: 0 !important
}

.v-application .mr-1 {
    margin-right: 4px !important
}

.v-application .mr-2 {
    margin-right: 8px !important
}

.v-application .mr-4 {
    margin-right: 16px !important
}

.v-application .mb-5 {
    margin-bottom: 20px !important
}

.v-application .ml-0 {
    margin-left: 0 !important
}

.v-application .ml-2 {
    margin-left: 8px !important
}

.v-application .ml-3 {
    margin-left: 12px !important
}

.v-application .ml-n1 {
    margin-left: -4px !important
}

.v-application .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important
}

.v-application .pl-1 {
    padding-left: 4px !important
}

.v-application .rounded-0 {
    border-radius: 0 !important
}

.v-application .rounded {
    border-radius: 4px !important
}

.v-application .text-left {
    text-align: left !important
}

.v-application .text-right {
    text-align: right !important
}

.v-application .text-center {
    text-align: center !important
}

.v-application .text-start {
    text-align: start !important
}

.v-application .text-h5 {
    font-size: 1.5rem !important;
    font-weight: 400;
    letter-spacing: normal !important
}

.v-application .text-h5 {
    line-height: 2rem;
    font-family: Roboto, sans-serif !important
}

.theme--light.v-application {
    background: #fff;
    color: rgba(0, 0, 0, .87)
}

.theme--dark.v-application {
    background: #121212;
    color: #fff
}

.v-application {
    display: flex
}

.v-application a {
    cursor: pointer
}

.v-application--is-rtl {
    direction: rtl
}

.v-application--wrap {
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative
}

@-moz-document url-prefix() {
    @media print {
        .v-application, .v-application--wrap {
            display: block
        }
    }
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: #f5f5f5;

}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
    background-color: #272727
}

.v-sheet.v-app-bar.v-toolbar {
    border-radius: 0
}

.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.v-sheet.v-app-bar.v-toolbar.v-sheet--shaped {
    border-radius: 24px 0
}

.v-app-bar:not([data-booted=true]) {
    transition: none !important
}

.v-app-bar.v-app-bar--fixed {
    position: fixed;
    top: 0;
    z-index: 5
}

.v-app-bar.v-app-bar--hide-shadow {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) !important
}

.v-app-bar--fade-img-on-scroll .v-toolbar__image .v-image__image {
    transition: opacity .4s cubic-bezier(.4, 0, .2, 1)
}

.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll .v-toolbar__content {
    will-change: height
}

.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll .v-toolbar__image {
    will-change: opacity
}

.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll.v-app-bar--is-scrolled .v-toolbar__title {
    padding-top: 9px
}

.v-app-bar.v-toolbar--prominent.v-app-bar--shrink-on-scroll.v-app-bar--is-scrolled:not(.v-app-bar--bottom) .v-toolbar__title {
    padding-bottom: 9px
}

.v-app-bar.v-app-bar--shrink-on-scroll .v-toolbar__title {
    font-size: inherit
}

.theme--light.v-toolbar.v-sheet {
    background-color: #fff
}

.theme--dark.v-toolbar.v-sheet {
    background-color: #272727
}

.v-sheet.v-toolbar {
    border-radius: 0
}

.v-sheet.v-toolbar:not(.v-sheet--outlined) {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.v-sheet.v-toolbar.v-sheet--shaped {
    border-radius: 24px 0
}

.v-toolbar {
    contain: layout;
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    transition: transform .2s cubic-bezier(.4, 0, .2, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), left .2s cubic-bezier(.4, 0, .2, 1), right .2s cubic-bezier(.4, 0, .2, 1), box-shadow .28s cubic-bezier(.4, 0, .2, 1), max-width .25s cubic-bezier(.4, 0, .2, 1), width .25s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.v-toolbar .v-input {
    padding-top: 0;
    margin-top: 0
}

/* 
.v-toolbar__content, .v-toolbar__extension {
    padding: 4px 16px
} */

.v-toolbar__content .v-btn.v-btn--icon.v-size--default, .v-toolbar__extension .v-btn.v-btn--icon.v-size--default {
    height: 48px;
    width: 48px
}

.v-application--is-ltr .v-toolbar__content>.v-btn.v-btn--icon:first-child, .v-application--is-ltr .v-toolbar__extension>.v-btn.v-btn--icon:first-child {
    margin-left: -12px
}

.v-application--is-rtl .v-toolbar__content>.v-btn.v-btn--icon:first-child, .v-application--is-rtl .v-toolbar__extension>.v-btn.v-btn--icon:first-child {
    margin-right: -12px
}

.v-application--is-ltr .v-toolbar__content>.v-btn.v-btn--icon:first-child+.v-toolbar__title, .v-application--is-ltr .v-toolbar__extension>.v-btn.v-btn--icon:first-child+.v-toolbar__title {
    padding-left: 20px
}

.v-application--is-rtl .v-toolbar__content>.v-btn.v-btn--icon:first-child+.v-toolbar__title, .v-application--is-rtl .v-toolbar__extension>.v-btn.v-btn--icon:first-child+.v-toolbar__title {
    padding-right: 20px
}

.v-application--is-ltr .v-toolbar__content>.v-btn.v-btn--icon:last-child, .v-application--is-ltr .v-toolbar__extension>.v-btn.v-btn--icon:last-child {
    margin-right: -12px
}

.v-application--is-rtl .v-toolbar__content>.v-btn.v-btn--icon:last-child, .v-application--is-rtl .v-toolbar__extension>.v-btn.v-btn--icon:last-child {
    margin-left: -12px
}

.v-toolbar__content>.v-tabs, .v-toolbar__extension>.v-tabs {
    height: inherit;
    margin-top: -4px;
    margin-bottom: -4px
}

.v-toolbar__content>.v-tabs>.v-slide-group.v-tabs-bar, .v-toolbar__extension>.v-tabs>.v-slide-group.v-tabs-bar {
    background-color: inherit;
    height: inherit
}

.v-toolbar__content>.v-tabs:first-child, .v-toolbar__extension>.v-tabs:first-child {
    margin-left: -16px
}

.v-toolbar__content>.v-tabs:last-child, .v-toolbar__extension>.v-tabs:last-child {
    margin-right: -16px
}

.v-toolbar__content, .v-toolbar__extension {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0
}

.v-toolbar__image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    contain: strict
}

.v-toolbar__image, .v-toolbar__image .v-image {
    border-radius: inherit
}

.v-toolbar__items {
    display: flex;
    height: inherit;
    margin-right: 35rem;
}

.v-toolbar__items>.v-btn {
    border-radius: 0;
    height: 100% !important;
    max-height: none
}

.v-toolbar__title {
    font-size: 1.25rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.v-toolbar.v-toolbar--absolute {
    position: absolute;
    top: 0;
    z-index: 1
}

.v-toolbar.v-toolbar--bottom {
    top: auto;
    bottom: 0
}

.v-toolbar.v-toolbar--collapse .v-toolbar__title {
    white-space: nowrap
}

.v-toolbar.v-toolbar--collapsed {
    max-width: 112px;
    overflow: hidden
}

.v-application--is-ltr .v-toolbar.v-toolbar--collapsed {
    border-bottom-right-radius: 24px
}

.v-application--is-rtl .v-toolbar.v-toolbar--collapsed {
    border-bottom-left-radius: 24px
}

.v-toolbar.v-toolbar--collapsed .v-toolbar__extension, .v-toolbar.v-toolbar--collapsed .v-toolbar__title {
    display: none
}

.v-toolbar--dense .v-toolbar__content, .v-toolbar--dense .v-toolbar__extension {
    padding-top: 0;
    padding-bottom: 0
}

.v-toolbar--flat {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) !important
}

.v-toolbar--floating {
    display: inline-flex
}

.v-toolbar--prominent .v-toolbar__content {
    align-items: flex-start
}

.v-toolbar--prominent .v-toolbar__title {
    font-size: 1.5rem;
    padding-top: 6px
}

.v-toolbar--prominent:not(.v-toolbar--bottom) .v-toolbar__title {
    align-self: flex-end;
    padding-bottom: 6px;
    padding-top: 0
}

/* .theme--light.v-sheet {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0, 0, 0, .87)
} */

.theme--light.v-sheet--outlined {
    border: thin solid rgba(0, 0, 0, .12)
}

.theme--dark.v-sheet {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
    color: #fff
}

.theme--dark.v-sheet--outlined {
    border: thin solid hsla(0, 0%, 100%, .12)
}

.v-sheet {
    border-radius: 0
}

.v-sheet:not(.v-sheet--outlined) {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12)
}

.v-sheet.v-sheet--shaped {
    border-radius: 24px 0
}

.theme--light.v-image {
    color: rgba(0, 0, 0, .87)
}

.theme--dark.v-image {
    color: #fff
}

.v-image {
    z-index: 0
}

.v-image__image, .v-image__placeholder {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.v-image__image {
    background-repeat: no-repeat
}

.v-image__image--preload {
    filter: blur(2px)
}

.v-image__image--contain {
    background-size: contain
}

.v-image__image--cover {
    background-size: cover
}

.v-responsive {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    max-width: 100%;
    display: flex
}

.v-responsive__content {
    flex: 1 0 0px;
    max-width: 100%
}

.v-application--is-ltr .v-responsive__sizer~.v-responsive__content {
    margin-left: -100%
}

.v-application--is-rtl .v-responsive__sizer~.v-responsive__content {
    margin-right: -100%
}

.v-responsive__sizer {
    transition: padding-bottom .2s cubic-bezier(.25, .8, .5, 1);
    flex: 1 0 0px
}

.v-btn:not(.v-btn--outlined).accent, .v-btn:not(.v-btn--outlined).error, .v-btn:not(.v-btn--outlined).info, .v-btn:not(.v-btn--outlined).primary, .v-btn:not(.v-btn--outlined).secondary, .v-btn:not(.v-btn--outlined).success, .v-btn:not(.v-btn--outlined).warning {
    color: #fff
}

.theme--light.v-btn {
    color: rgba(0, 0, 0, .87)
}

.theme--light.v-btn.v-btn--disabled, .theme--light.v-btn.v-btn--disabled .v-icon {
    color: rgba(0, 0, 0, .26) !important
}

.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: rgba(0, 0, 0, .12) !important
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #f5f5f5
}

.theme--light.v-btn.v-btn--outlined.v-btn--text {
    border-color: rgba(0, 0, 0, .12)
}

.theme--light.v-btn.v-btn--icon {
    color: rgba(0, 0, 0, .54)
}

.theme--light.v-btn:hover:before {
    opacity: .04
}

.theme--light.v-btn--active:before, .theme--light.v-btn--active:hover:before, .theme--light.v-btn:focus:before {
    opacity: .12
}

.theme--light.v-btn--active:focus:before {
    opacity: .16
}

.theme--dark.v-btn {
    color: #fff
}

.theme--dark.v-btn.v-btn--disabled, .theme--dark.v-btn.v-btn--disabled .v-icon {
    color: hsla(0, 0%, 100%, .3) !important
}

.theme--dark.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: hsla(0, 0%, 100%, .12) !important
}

.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {

    background-color: #4FBD95 !important;
    border-color: #4FBD95 !important;
}

.theme--dark.v-btn.v-btn--outlined.v-btn--text {
    border-color: hsla(0, 0%, 100%, .12)
}

.theme--dark.v-btn.v-btn--icon {
    color: #fff
}

.theme--dark.v-btn:hover:before {
    opacity: .08
}

.theme--dark.v-btn--active:before, .theme--dark.v-btn--active:hover:before, .theme--dark.v-btn:focus:before {
    opacity: .24
}

.theme--dark.v-btn--active:focus:before {
    opacity: .32
}

.v-btn {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow, transform, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

#adjustProfile {

    margin-top: -50px;

}

.v-btn.v-size--x-small {
    font-size: .625rem
}

.v-btn.v-size--small {
    font-size: .75rem
}

.v-btn.v-size--default, .v-btn.v-size--large {
    font-size: .875rem
}

.v-btn.v-size--x-large {
    font-size: 1rem
}

.v-btn:before {
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
    background-color: currentColor
}

.v-btn:not(.v-btn--disabled) {
    will-change: box-shadow
}

.v-btn:not(.v-btn--round).v-size--x-small {
    height: 20px;
    min-width: 36px;
    padding: 0 8.8888888889px
}

.v-btn:not(.v-btn--round).v-size--small {
    height: 28px;
    min-width: 50px;
    padding: 0 12.4444444444px
}

.v-btn:not(.v-btn--round).v-size--default {
    height: 57px;
    min-width: 64px;
    padding: 0 16px;
  
   
}

.v-btn:not(.v-btn--round).v-size--large {
    height: 44px;
    min-width: 78px;
    padding: 0 19.5555555556px
}

.v-btn:not(.v-btn--round).v-size--x-large {
    height: 52px;
    min-width: 92px;
    padding: 0 23.1111111111px
}

.v-btn>.v-btn__content .v-icon {
    color: inherit
}

.v-btn__content {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative
}

.v-btn__content .v-icon--left, .v-btn__content .v-icon--right {
    font-size: 18px;
    height: 18px;
    width: 18px
}

.v-application--is-ltr .v-btn__content .v-icon--left {
    margin-left: -4px;
    margin-right: 8px
}

.v-application--is-ltr .v-btn__content .v-icon--right, .v-application--is-rtl .v-btn__content .v-icon--left {
    margin-left: 8px;
    margin-right: -4px
}

.v-application--is-rtl .v-btn__content .v-icon--right {
    margin-left: -4px;
    margin-right: 8px
}

.v-btn__loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
    opacity: .18
}

.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before {
    opacity: .08
}

.v-btn:not(.v-btn--text):not(.v-btn--outlined):focus:before {
    opacity: .24
}

.v-btn--absolute, .v-btn--fixed {
    position: absolute
}

.v-btn--absolute.v-btn--right, .v-btn--fixed.v-btn--right {
    right: 16px
}

.v-btn--absolute.v-btn--left, .v-btn--fixed.v-btn--left {
    left: 16px
}

.v-btn--absolute.v-btn--top, .v-btn--fixed.v-btn--top {
    top: 16px
}

.v-btn--absolute.v-btn--bottom, .v-btn--fixed.v-btn--bottom {
    bottom: 16px
}

.v-btn--block {
    display: flex;
    flex: 1 0 auto;
    min-width: 100% !important;
    max-width: auto
}

.v-btn--contained {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.v-btn--contained:after {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12)
}

.v-btn--contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)
}

.v-btn--depressed {
    box-shadow: none !important
}

.v-btn--disabled {
    box-shadow: none;
    pointer-events: none
}

.v-btn--fab, .v-btn--icon {
    min-height: 0;
    min-width: 0;
    padding: 0
}

.v-btn--fab.v-size--x-small .v-icon, .v-btn--icon.v-size--x-small .v-icon {
    height: 18px;
    font-size: 18px;
    width: 18px
}

.v-btn--fab.v-size--default .v-icon, .v-btn--fab.v-size--small .v-icon, .v-btn--icon.v-size--default .v-icon, .v-btn--icon.v-size--small .v-icon {
    height: 24px;
    font-size: 24px;
    width: 24px
}

.v-btn--fab.v-size--large .v-icon, .v-btn--icon.v-size--large .v-icon {
    height: 28px;
    font-size: 28px;
    width: 28px
}

.v-btn--fab.v-size--x-large .v-icon, .v-btn--icon.v-size--x-large .v-icon {
    height: 32px;
    font-size: 32px;
    width: 32px
}

.v-btn--icon.v-size--x-small {
    height: 20px;
    width: 20px
}

.v-btn--icon.v-size--small {
    height: 28px;
    width: 28px
}

.v-btn--icon.v-size--default {
    height: 36px;
    width: 36px
}

.v-btn--icon.v-size--large {
    height: 44px;
    width: 44px
}

.v-btn--icon.v-size--x-large {
    height: 52px;
    width: 52px
}




.v-application .ma-2 {
    margin: 8px!important;
}   

#navt {

    width: 200%;
    height: 75px;
    background-color: rgb(232, 232, 232);
    line-height: 75px;
    padding: 0px 10px;

}

/* 

nav ul {

    float: right;
}

nav ul li {

    list-style: none;
    display: inline-block;
}

nav ul li a {

    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 0px 20px;
    margin-top: -20px;
}


nav ul li a:hover {

    color: #000000;
}

nav ul .active {
    color: #000000;
}

.checkbtn {
    color: #477B72;
    font-size: 25px;
    margin-top: -10px;
    cursor: pointer;
    float: right;
    display: none;
} */

/* .checkbtn1 {
    color: #fff;
    font-size: 25px;
    margin-top: -10px;
    cursor: pointer;
    float: right;
    display: none;
} */

/* 
#check {

    display: none;
}

#check1 {

    display: none;
}



@media screen and (max-width: 800px) {

    nav {

        padding: 0px 40px;
    }

    .checkbtn {

        display: block;
    }

    nav ul {

        width: 70%;
        height: 160vh;
        background-color: #e8e8e8;
        position: fixed;
        left: -100%;
        transition: 0.3s ease;
    }

    nav ul li {
        display: block;
        margin: 60px 0px;
        line-height: 20px;
    }

    #check:checked~ul {

        left: 0;
    }


} */

/* .checkbtn1 {

    display: block;
} */


/* 
#check1:checked {

    left: 0;
} */

/* .main {
    display: inline-block;

    position: relative;
   
    text-align: left;
}
label {
    top: -50px;
    left: 20px;
    -webkit-transition: 0.04s ease-in-out;
    transition: 0.04s ease-in-out;
}
.list {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 37px;
    left: -110px;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.item {
    width: 150px;
    line-height: 45px;
    background-color: #e8e8e8;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

    
}

.item:hover {
    background-color: rgb(186, 184, 184);
}




#drop-1:checked~ .list-1 {
    visibility: visible;
    opacity: 2;
    z-index: 10;
} */
