.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px #dddee3;

    background-color: #ffffff;
  
  
    .left,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .title {
        font-weight: bold;
        font-size: 14px;
        color: rgb(160, 160, 160);
      }

     
  
      .counter {
        font-size: 72px;
        font-weight: 300;
      }

     
  
      .link {
        width: max-content;
        font-size: 2px;
        border-bottom: 1px solid gray;
      }
  
      .percentage {
        display: flex;
        align-items: center;
        font-size: 14px;
  
        &.positive {
          color: green;
        }
        &.negative {
          color: red;
        }
      }
  
      .icon {
        border-radius: 5px;
        align-self: flex-end;
      } 
      
        @media screen and (max-width:1000px) {

          #link {

            font-size: 11px;
           
          }

          .title {
            font-weight: bold;
            font-size: 11px;
            color: rgb(160, 160, 160);
          }

          .counter {
            font-size: 48px;
            font-weight: 300;
          }

          .percentage {

            display: none;
         
      
            &.positive {
         
              color: green;
            }
            &.negative {
         
              color: red;
            }
      
        }
      }
    }
  }
  

 