
@media only screen and (min-width:768px) and (max-width:1023px) {
    .left,
    .right {
      margin: 0 0 0 -20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    #link {

      width: 715px;
      font-size: 18px;
    
    }

    .title-widget {
      text-align: center;
      width: 715px;
      font-weight: bold;
      font-size: 21px !important;
      color: rgb(160, 160, 160);
    }

    .counter {
      text-align: center;
      font-size: 74px !important;
      font-weight: 500 !important;
    }

    .icon {
      border-radius: 5px;
      margin-top: 0 !important;
    } 
    


    .widget {

      text-align: center;
      display: flex;
      justify-content: space-between;
      flex: 1;
      padding: 20px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px #dddee3;
      border-radius: 5px;
      background-color: #ffffff;
  }
}


@media only screen and (min-width:360px) and (max-width:425px) {
  .left,
  .right {
    margin: 0 0 0 -20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #link {

    width: 250px;
    font-size: 18px;
  
  }

  .title-widget {
    text-align: center;
    width: 250px;
    font-weight: bold;
    font-size: 21px !important;
    color: rgb(160, 160, 160);
  }

  .counter {
    text-align: center;
    font-size: 74px !important;
    font-weight: 500 !important;
  }

  .icon {
    border-radius: 5px;
    margin-top: 0 !important;
  } 
  


  .widget {

    text-align: center;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px #dddee3;
    border-radius: 5px;
    background-color: #ffffff;
}
}



.widget {

    text-align: center;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px #dddee3;
    border-radius: 5px;
    background-color: #ffffff;
  
  
    .left,
    .right {
    
      display: flex;
      flex-direction: column;
      
  
      .title-widget {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: rgb(160, 160, 160);
      }

     
  
      .counter {
        font-size: 72px;
        font-weight: 300;
      }

     
  
      .link {
        width: max-content;
        font-size: 2px;
        border-bottom: 1px solid gray;
      }
  
      .percentage {
        display: flex;
        align-items: center;
        font-size: 14px;
  
        &.positive {
          color: green;
        }
        &.negative {
          color: red;
        }
      }
  
      .icon {
        border-radius: 5px;
        margin-top: 4.5em;
      } 
      
        @media screen and (min-width:320px) and (max-width:1023px) {

         

          .counter {
            font-size: 48px;
            font-weight: 300;
          }

          .percentage {

            display: none;
         
      
            &.positive {
         
              color: green;
            }
            &.negative {
         
              color: red;
            }
      
        }
      }
    }
  }
  

 